<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <link rel="stylesheet" href="{% static '/bootstrap.min.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/f8d39c134e.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <script src="{% static 'jquery.slim.min.js' %}"></script>
    <script src="{% static '/bootstrap.bundle.min.js' %}"></script>
    {% include 'main/navbar.html' %}
    <div class="container pl-0">
        <div class="card">
            <div class="card-body">
                <h5>Hot Topic</h5>
                {% for t in topics %}
                    <a class="badge" href="/topic/{{t.slug}}" style="color: initial; border: solid 1px; border-radius: 15px;"><b>/{{ t.topic }}</b></a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% block main-area %}{% endblock %}
    {% include 'main/footer.html'%}
</body>
</html>