{% extends 'main/base.html' %}
{% block title %} Thread {% endblock %}

{% block main-area %}
<div class="container">
    {% for thread in thread_list %}
        <div class="d-flex my-5">
            <div class="bg-light" style="width: 30px;">
                <div class="mx-auto" style="width: 10px;">{{ thread.upvotes }}</div>
            </div>
            <div class="" style="max-width: 90%;">
                <span class="badge-dark">{{ thread.topic }}</span>
                <a href="{{ thread.get_absolute_url }}"><h3>{{ thread.title }}</h3></a>
                <span>{{ thread.author }}</span>
                <span>{{ thread.created_at }}</span>
                <p>{{ thread.get_content_markdown | truncatewords_html:45 | safe }}</p>
                <a href="{{ thread.get_absolute_url }}#comment">댓글 {{ thread.comment_set.count }}개</a>
            </div>
        </div>
    {% endfor %}

    <div class="pagination mx-auto" style="width: 150px;">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo;</a>
                <a href="?page={{ page_obj.previous_page_number }}"><</a>
            {% endif %}

            <span class="current">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">></a>
                <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}