{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{ thread.title }} - Thread {% endblock %}

{% block main-area %}
<div class="container">
    <div class="row" style="font-size: 15px;">
        <div class="col">
            <span class="my-2"><b><a href="{{ thread.get_topic_url }}" style="text-decoration: none; color: black">/{{ thread.topic }}</a></b></span>
            <span class="mx-2" style="font-weight: 600;">{{ thread.author }}</span><span class="text-secondary" style="font-size: 10px;">{{ thread.created_at }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>{{ thread.title }}</h3>
        </div>
    </div>
    {% if thread.image %}
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="{{ thread.image.url }}" alt="404" style="max-width: 100%;">
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            {{ thread.get_content_markdown | safe | linebreaks }}
        </div>
    </div>
    <div class="my-4" style="width: 200px;">
        <span class="p-2" style="width: 50px; border: solid 1px; border-radius: 10px;">
            <a href={% url 'upvote' thread.id %} style="text-decoration: none; color: red"><i class="fa-solid fa-arrow-up" style="color: black"></i></a>
            <span style="font-weight: 600;">{{ thread.upvotes | floatformat:-1 }}</span>
            <a href={% url 'downvote' thread.id %} style="text-decoration: none; color: red"><i class="fa-solid fa-arrow-down" style="color: black"></i></a>
        </span>
        {% if user.is_authenticated %}
            {% if user == thread.author %}
                <span class="p-2" style="width: 50px; border: solid 1px; border-radius: 10px;">
                    <a href="{{ thread.get_absolute_url }}/update" style="color: initial"><i class="fa-solid fa-pen-to-square"></i>수정</a>
                </span>
            {% endif %}
        {% endif %}
    </div>
    {% if thread.comment_set.exists %}
        {% for comment in thread.comment_set.iterator %}
            {% if comment.parent == null %}
            <div id="comment-{{ comment.pk }}">
                <div class="card my-1">
                    <div class="card-body">
                        <div class="media">
                            {% if comment.image %}<img class="img-fluid rounded mr-3" src="{{ comment.image.url }}" style="">{% endif %}
                            <div class="media-body mt-0">
                                <span class="mr-2" style="font-weight: 600; font-size: 13px;">{{ comment.author }}</span><span class="text-secondary" style="font-size: 10px;">{{comment.created_at }}</span>
                                <p class="mb-0">{{ comment.content }}</p>
                                <span>
                                    <a href={% url 'upvote-comment' comment.id %} style="text-decoration: none;">
                                        <i class="fa-solid fa-arrow-up fa-2xs" style="color: black"></i>
                                    </a>
                                    <span style="text-align: center; width: 9px; color: initial; font-weight: 600; font-size: 13px;">{{ comment.upvotes | floatformat:-1 }}</span>
                                    <a href={% url 'downvote-comment' comment.id %} style="text-decoration: none;">
                                        <i class="fa-solid fa-arrow-down fa-2xs" style="color: black"></i>
                                    </a>
                                </span>
                            {% if user.is_authenticated %}
                                <span>
                                    <button class="btn btn-sm" type="button" data-toggle="collapse" data-target="#rep-{{ comment.pk }}" aria-expanded="false" aria-controls="rep">
                                        답글
                                    </button>
                                </span>
                                <div class="collapse" id="rep-{{ comment.pk }}">
                                    <div class="media-body mx-auto mt-3" style="max-width: 95%;">
                                        <form method='POST' action='{% url 'submit-reply' comment.pk %}' enctype="multipart/form-data"> {% csrf_token %}
                                            <div class="row">
                                                <textarea class="form-control col-11 d-inline" name="content" style=""></textarea>
                                                <button class="btn btn-primary col-sm-1" type="submit">작성</button>
                                            </div>
                                            <div class="row">
                                                <input type="file" name="image" accept="image/*">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                            {% if comment.comment_set.exists %}
                                <div class="card">
                                    {% for rep in comment.comment_set.iterator %}
                                    <div class="media ml-3">
                                        {% if rep.image %}<img class="img-fluid rounded mr-3" src="{{ rep.image.url }}" style="max-height: 150px;">{% endif %}
                                        <div class="media-body">
                                            <span class="mr-2" style="font-weight: 600; font-size: 13px;">{{ rep.author }}</span><span class="text-secondary" style="font-size: 10px;">{{ rep.created_at }}</span>
                                            <p class="mb-0">{{ rep.content }}</p>
                                            <span>
                                                <a href={% url 'upvote-comment' rep.id %} style="text-decoration: none;">
                                                    <i class="fa-solid fa-arrow-up fa-2xs" style="color: black"></i>
                                                </a>
                                                <span style="text-align: center; width: 9px; color: initial; font-weight: 600; font-size: 13px;">{{ rep.upvotes | floatformat:-1 }}</span>
                                                <a href={% url 'downvote-comment' rep.id %} style="text-decoration: none;">
                                                    <i class="fa-solid fa-arrow-down fa-2xs" style="color: black"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
        <div class="p-0">
            {% if user.is_authenticated %}
                <div class="my-3 col-12" id="comment">
                    <form method='POST' action='{% url 'submit-comment' thread.pk %}' enctype="multipart/form-data"> {% csrf_token %}
                        <div class="row">
                            <textarea class="form-control col-11 d-inline" name="content"></textarea>
                            <button class="btn btn-primary col-1" type="submit">작성</button>
                        </div>
                        <div class="row">
                            <input type="file" name="image" accept="image/*">
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="col-6 mx-auto my-4" id="comment" style="text-align: center; font-weight: 600;">
                    댓글을 남기려면 <a href="/account/login" style="color: initial; text-decoration: underline;">로그인</a>이 필요합니다.
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}