{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{ thread.title }} - Thread {% endblock %}

{% block main-area %}
<div class="container">
    {{ thread.topic }}
    <h1>{{ thread.title }}</h1>
    <p>{{ thread.get_content_markdown | safe }}</p>
    <div>
        <a class="mx-auto" href={% url 'upvote' thread.id %} style="width: 100%;">추천</a> {{ thread.upvotes }}
    </div>
    <form method='POST' action='{% url 'submit-comment' thread.pk %}' style="display: inline"> {% csrf_token %}
        {% crispy form %}
    </form>
    {% if thread.comment_set.exists %}
        {% for comment in thread.comment_set.iterator %}
            {{ comment.author }} {{comment.created_at }}
            <p>{{ comment.content }}</p>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}