{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{ thread.title }} - Thread {% endblock %}

{% block main-area %}
<div class="container">
    <div class="my-2">
        <span class="my-2"><b><a href="{{ thread.get_topic_url }}" style="text-decoration: none; color: black">/{{ thread.topic }}</a></b></span>
        <h1>{{ thread.title }}</h1>
        <span class="text-secondary">{{ thread.created_at }}</span>
    </div>
    {% if thread.image %}
        <img class="img-fluid" src="{{ thread.image.url }}" alt="404" style="max-width: 100%;">
    {% endif %}
    <p>{{ thread.get_content_markdown | safe | linebreaks }}</p>
    <div class="my-4" style="width: 100px;">
        <span class="p-2" style="width: 50px; border: solid 1px; border-radius: 10px;">
            <a href={% url 'upvote' thread.id %} style="text-decoration: none; color: red">추천 {{ thread.upvotes }}</a>
        </span>
    </div>
    <div class="my-3" id="comment">
        <form method='POST' action='{% url 'submit-comment' thread.pk %}' enctype="multipart/form-data"> {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
    {% if thread.comment_set.exists %}
        {% for comment in thread.comment_set.iterator %}
        <div class="card" id="comment-{{ comment.pk }}">
            <div class="card-body">
            <p>{{ comment.author }} <span class="text-secondary">{{comment.created_at }}</span></p>
            <p>{% if comment.image %}<img class="img-fluid" src="{{ comment.image.url }}" style="max-width: 500px">{% endif %}</p>
            <p>{{ comment.content }}</p>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}